<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerlinks}}
</head>

<body>
 
{{>navbar}}
<!-- main header -->

 <div class="container-fluid main_header">
  <div class="row">
   <div class="col-md-10 col-12 mx-auto">
    <div class="row">
     <!-- left side -->
     <div class="col-md-6 col-12 main_header_right">
      
      <figure >
        <img src="images/rendered.png" class="img-fluid" alt="nazmul-pic/jpg" title="Nazmul Hossain">
      </figure>
      
     </div>

     <div class="col-md-6 col-12 main_header_left">
       <h3>Something About me</h3>
       <h1>I Am a  <span class="txt_clr">MERN Stack Developer</span> with Highly skilled</h1>
       <a href="https://www.linkedin.com/in/a-b-m-nazmul-hossain-khan-93516a162/" target="_do"><button>Hire Me</button></a>
     </div>
     <!-- Right Side -->
     
    </div>

   </div>
  </div>
 </div>   

<!-- footer section -->
{{>footer}}

</body>
</html>